absl-py==2.1.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
asgiref==3.8.1
astunparse==1.6.3
attrs==25.3.0
audioread==3.0.1
autograd==1.7.0
autoray==0.7.1
black==25.1.0
bleach==6.2.0
blinker==1.9.0
blis==1.0.1
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cirq==1.5.0
cirq-aqt==1.5.0
cirq-core==1.5.0
cirq-google==1.5.0
cirq-ionq==1.5.0
cirq-pasqal==1.5.0
cirq-web==1.5.0
click==8.1.8
cloudpathlib==0.20.0
cloudpickle==3.1.1
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.11
decorator==5.1.1
diastatic-malt==2.15.2
dill==0.3.9
distro==1.9.0
Django==5.1.3
duet==0.2.9
emoji==2.14.0
Faker==30.8.2
Farama-Notifications==0.0.4
fastapi==0.115.4
ffmpy==0.4.0
filelock==3.16.1
flake8==7.3.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.69.2
gradio==5.5.0
gradio_client==1.4.2
grpcio==1.71.0
grpcio-status==1.71.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.1.1
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
huggingface-hub==0.26.2
idna==3.10
imageai==3.0.3
imbalanced-learn==0.12.4
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
jax==0.5.3
jaxlib==0.5.3
Jinja2==3.1.6
jiter==0.7.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaggle==1.7.4.2
keras==3.6.0
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.2.0
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
llvmlite==0.43.0
loguru==0.7.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.4.1
monai==1.4.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.3.2
murmurhash==1.0.10
mypy_extensions==1.1.0
namex==0.0.8
narwhals==1.32.0
networkx==3.4.2
nltk==3.9.1
numba==0.60.0
numpy==2.0.2
openai==1.54.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
optree==0.13.0
oqs==0.10.2
orjson==3.10.11
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pbr==6.1.1
PennyLane==0.40.0
PennyLane_Lightning==0.40.0
pillow==11.1.0
platformdirs==4.3.6
pluggy==1.6.0
pooch==1.8.2
preshed==3.0.9
propcache==0.3.1
proto-plus==1.26.1
protobuf==5.29.4
psutil==6.1.0
py-cpuinfo==9.0.0
py3Dmol==2.4.2
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.14.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydicom==3.0.1
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.18.0
pyod==2.0.2
pyparsing==3.2.0
pytest==8.4.1
python-dateutil==2.9.0.post0
python-multipart==0.0.12
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.2
qiskit==2.0.0
qiskit-aer==0.17.0
qrcode==8.0
qulacs==0.6.12
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
ruff==0.7.2
rustworkx==0.16.0
safehttpx==0.1.1
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
scipy-openblas32==0.3.29.0.0
seaborn==0.13.2
semantic-version==2.10.0
setuptools==75.3.0
shellingham==1.5.4
SimpleITK==2.4.0
six==1.17.0
smart-open==7.0.5
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soxr==0.5.0.post1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.11.0
sqlparse==0.5.1
srsly==2.4.8
stable_baselines3==2.6.0
starlette==0.41.2
stevedore==5.4.1
streamlit==1.43.2
symengine==0.13.0
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
text-unidecode==1.3
thinc==8.3.2
threadpoolctl==3.5.0
tokenizers==0.20.3
toml==0.10.2
tomlkit==0.12.0
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.66.6
trackml==0.1.12
transformers==4.46.2
typedunits==0.0.1.dev20250509200845
typer==0.12.5
typing_extensions==4.12.2
tzdata==2025.2
ultralytics==8.3.29
ultralytics-thop==2.0.11
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.32.0
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.1.2
wheel==0.44.0
wrapt==1.16.0
yarl==1.19.0
